.gameHome{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 4rem;
}

.gameHome button{
    padding: 1rem;
    color: black;
    background-color: transparent;
    border-radius: 10px;
}